#Box1
{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 153, 255);
    border-radius: 3px;
    border-style: solid;
    border-width: 10px;
    animation-name: box1;
    animation-duration: 5s;
}

#Box2
{
    width: 90px;
    height: 90px;
    background-color: rgb(248, 244, 2);
    border-radius: 100px;
    border-style: solid;
    border-width: 10px;
    position:absolute; 
    left:200px; 
    top: 7px;
}

#Box3
{
    width: 140px;
    height: 140px;
    background-color: rgb(248, 2, 2);
    border-radius: 100px;
    border-style: solid;
    border-width: 10px;
    position:absolute; 
    left:160px; 
    top: 109px;
}

.triangle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: magenta;
    clip-path: polygon(50% 50%, 10% 0%, 50% 0%);
    top: 100px;
    right: 400px;
  }

@keyframes box1 
{
    from{background-color: rgb(0, 153, 255);}
    to{background-color: darkgrey;}
}